<div class="container">
    <header
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/"
            class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none fw-bold text-info fs-5">
            <img width="50px"
                src="https://avatars.mds.yandex.net/i?id=4f7d4f16b44fbb1c3223aa776c573c3c859e3f7e-10640295-images-thumbs&n=13"
                alt="error">
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">Features</a></li>
            <li><a href="/contact" class="nav-link px-2 link-dark">Contact</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>
            <li><a href="/about" class="nav-link px-2 link-dark">About</a></li>
        </ul>

        <div class="col-md-3 text-end">
            <a href="/auth/google" class="btn btn-outline-primary me-2">Login</a>
            <a href="/auth/google" class="btn btn-primary">Sign-up</a>
        </div>
    </header>
</div>