<div class="container mb-4 pb-4 h-100">
    <h1 class="text-center my-4">Search Result</h1>

    <div class="row gap-3">
        <%if(searchResult !== " && searchResult.length > 0") { %>
            <% searchResult.forEach(task => { %>
                <a class="col my-4 border-1" href="/dashboard/item/<%= task._id %>">
                    <h3 class="col my-4"><%= task.title %></h3>
                </a>
            <% }) %>
        <% } else { %>
            <h2 class="text-danger text-center my-4">Tasks not found!</h2>
        <% } %>
    </div>
</div>