<div class="container">
    <h1 class="text-center my-5 text-success">About</h1>
    <p class="text-center my-5 text-success">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga officiis
        accusamus animi iure excepturi cumque commodi et voluptate a laborum nihil, sunt itaque veniam quisquam voluptas
        perspiciatis facere similique quis.</p>
</div>