<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Page</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <section class="contact container">
        <div class="content">
            <h2>Contact Page</h2>
        </div>
        <div class="containers">
            <div class="contact-info">
                <div class="box">
                    <div class="icon"><i class="fa-solid fa-location-dot"></i></div>
                    <div class="text">
                        <h3>Address</h3>
                        <a href="">Tashkent,olmazor,<br>webstar 74</a>
                    </div>
                </div>
                <div class="box">
                    <div class="icon"><i class="fa-solid fa-phone"></i></div>
                    <div class="text">
                        <h3>Phone</h3>
                        <a href="tel:+998900010101">+998900010101</a>
                    </div>
                </div>
                <div class="box">
                    <div class="icon"><i class="fa-solid fa-envelope"></i></div>
                    <div class="text">
                        <h3>Email</h3>
                        <a href="mailto:webstar@gmail.com">webstar@gmail.com</a>
                    </div>
                </div>
            </div>

            <div class="contact-form">
                <form action="/send" method="post">
                    <h2>Send Message</h2>
                    <div class="input-box">
                        <input type="text" name="name" required>
                        <span>Full Name</span>
                    </div>
                    <div class="input-box">
                        <input type="text" name="company" required>
                        <span>Company</span>
                    </div>
                    <div class="input-box">
                        <input type="email" name="email" required>
                        <span>Email</span>
                    </div>
                    <div class="input-box">
                        <input type="text" name="phone" required>
                        <span>Phone Number</span>
                    </div>
                    <div class="input-box">
                        <textarea name="message" required></textarea>
                        <span>Type your Message...</span>
                    </div>
                    <div class="input-box">
                        <input type="submit" value="Send" name="button">
                    </div>
                </form>
            </div>

        </div>
    </section>
</body>

</html>