<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Status message</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="status-body container">
        <div class="heading-top">Your message is send</div>

        <a href="/" class="back-link">Back</a>
    </div>
</body>

</html>